{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">

    <script src="{% static 'rush/js/filter_list.js' %}"></script>

    <h2>Current Rushees ({{ rushees|length }})</h2>
    <input type="text" class="form-control rounded" onkeyup="filter_list()" id="rush_signin_search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ></input><br>
    <table class="table table-hover" id="list_table">
        <thead>
        <tr>
            <td>Name</td>
            {% if not request.user_agent.is_mobile %}
            <td>Email</td>
            <td>Year</td>
            <td>Major</td>
            <td>Hometown</td>
            {% endif %}
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for rushee in rushees %}

            <tr onclick="window.location='rushee{{ rushee.id }}';">
                <td>{{ rushee.name }}</td>
                {% if not request.user_agent.is_mobile %}
                <td>{{ rushee.email }}</td>
                <td>{{ rushee.year }}</td>
                <td>{{ rushee.major }}</td>
                <td>{{ rushee.hometown }}</td>
                {% endif %}
                {% if user in rushee.endorsements.all %}
                <td><i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color: green"></i></td>
                {% elif user in rushee.oppositions.all %}
                <td><i class="fa fa-thumbs-down fa-2x" aria-hidden="true" style="color: red"></i></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}