{% extends 'core/base.html' %}
{% block content %}
<br>

<div class="container">
    <h1 style="display: inline">{{ event.name }}&nbsp;&nbsp;&nbsp;<span class="badge badge-info">Round {{ event.round }}</span></h1>
    <h3>{{ event.date }}, {{ event.time }}</h3>
    <h3>{{ event.location }}</h3>
    {% if perms.core.activate_rushsignin %}
	<div class="border rounded" style="border-color: {{ settings.primary_color_theme }}!important">
        <div class="rush-index-admin-container">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="rush_signin_switch" {% if settings.rush_signin_active %}checked{% endif %} onclick="window.location= '/rush/toggle_rush_signin'">
                <label class="custom-control-label" for="rush_signin_switch">Rush signin is <strong>{% if settings.rush_signin_active %} active {% else %} inactive{% endif %}</strong></label>
            </div>
        </div>
    </div>
	{% endif %}
    {% if settings.rush_signin_active %}
    <div class="alert alert-success rush-signin-inactive-alert">
        Rush signin is active.  <a href="/rush/signin{{event.id}}">Click here to sign in for this event.</a>
    </div>
    {% else %}
    <div class="alert alert-danger rush-signin-inactive-alert">
        Rush signin is not active.  Rush signin must be enabled before rushees will be able to signin to events.
    </div>
    {% endif %}
    
    <h2>Attendance ({{ event.attendance.count }})</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            {% if not request.user_agent.is_mobile %}
            <td>Email</td>
            <td>Year</td>
            <td>Major</td>
            <td>Hometown</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for rushee in event.attendance.all %}

            <tr onclick="window.location='/rush/rushee{{ rushee.id }}';">
                <td>{{ rushee.id }}</td>
                <td>{{ rushee.name }}</td>
                {% if not request.user_agent.is_mobile %}
                <td>{{ rushee.email }}</td>
                <td>{{ rushee.year }}</td>
                <td>{{ rushee.major }}</td>
                <td>{{ rushee.hometown }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<br>
{% endblock %}