{% extends 'core/base.html' %}
{% block content %}
{% load static %}
{% if perms.core.activate_rushsignin %}
<div class="container">
    <br><br>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="rush_signin_switch" {% if settings.rush_signin_active %}checked{% endif %} onclick="window.location = '/rush/toggle_rush_signin'">
        <label class="custom-control-label" for="rush_signin_switch">Rush signin is <b>{% if settings.rush_signin_active %} active {% else %} inactive{% endif %}</b></label>
    </div>
</div>
<br>
{% endif %}
{% if not settings.rush_signin_active %}
<br>
<div class="container">
    <div class="alert alert-danger">
    Rush signin is not active.  Must be enabled by site admin.
    </div>
    
</div>
{% elif event is None %}
<div class="container">
    <div class="alert alert-danger">
        No rush events exist!  An admin must create an event for rushees to sign into first.
    </div>
    {% if perms.rush.add_rushevent %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Create an event</button>
    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalLabel">Create Event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="createEvent">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="new_name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_name" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" placeholder="YYYY-mm-dd" id="new_date" name="date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_event_round" class="col-sm-2 col-form-label">Round</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="new_event_round" name="round">
                                    {% for num in round_range %}
                                    <option>{{ num }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_time" class="col-sm-2 col-form-label">Time</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="new_time" placeholder="HH:mm:ss in 24-hour time" name="time">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_location" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_location" name="location">
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="new_new_rushees" name="new_rushees" value="new_rushees">
                            <label for="new_new_rushees" class="form-check-label">New Rushees Allowed?</label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<br>
<div class="dropdown" style="margin-left: 5%">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change event
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        {% for dropdown_event in events %}
            <a class="dropdown-item" href="signin{{ dropdown_event.id }}">{{ dropdown_event.name }}</a>
        {% endfor %}
    </div>
</div>
<br>


<h1 style="margin-left: 5%">{{ event.name }}&nbsp;&nbsp;&nbsp;<span class="badge badge-info">Round {{ event.round }}</span></h1>
{% if event.new_rushees_allowed %}
<form style="margin-left: 10%; margin-right:10%" method="post" action="register{{ event.id }}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.name }}
    </div>
    <div class="form-group">
        {{ form.email }}
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                {{ form.year }}
            </div>
            <div class="col-sm-8">
                {{ form.major }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form.hometown }}
    </div>
    <div class="form-group">
        {{ form.address }}
    </div>
    <div class="form-group">
        {{ form.phone_number }}
    </div>
    <div class="form-group">
        <b>{{ form.in_person.label }}</b><br><br>
        {{ form.in_person }}
    </div>
    <input type="hidden" id="profile_picture_data" name="profile_picture_data">
    <br>

<div class="container" style="margin-left: 10%; margin-right: 10%">
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3">
                <video class="embed-responsive-item rounded border" autoplay id="screenshotVideo"></video>
            </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3">
                <img class="embed-responsive-item rounded" src="" style="background-color: grey; text-align: center" alt='Click "Take Photo"'  id="screenshotImg">
                <canvas class="embed-responsive-item"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="screenshotButton"><i class="fa fa-camera"></i> Take Photo</button>
        </div>
    </div>
</div>
    <br>

     <button type="submit" class="btn btn-success">Sign In</button>
</form>




    <script>
        function hasGetUserMedia() {
            return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
        }

        if (hasGetUserMedia()) {
          // Good to go!
        } else {
          alert('getUserMedia() is not supported by your browser');
        }
        console.log('hasGetUserMedia passed');

        const constraints = {
            video: {width: 400, height: 300}
        };

        const video = document.querySelector('#screenshotVideo');
        const captureVideoButton = document.querySelector('#recordButton');
        const screenShotButton = document.querySelector('#screenshotButton')
        const img = document.querySelector('#screenshotImg');
        const input = document.querySelector('#profile_picture_data');

        const canvas = document.createElement('canvas');

        console.log('video, captureVideoButton, screenShotButton, img set');

        navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);


        screenshotButton.onclick = video.onclick = function() {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            img.src = canvas.toDataURL('image/png');
            input.value = canvas.toDataURL('image/png');
        };

        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            video.srcObject = stream;
        }

        function handleError(){
            alert('Error: image could not be captured.  Have you allowed your browser to use your camera?');
        }

        console.log('End of script reached');

    </script>
</div>


{% else %}

<!-- script for filtering names from search bar -->
<script src="{% static 'rush/js/filter_list.js' %}"></script>

<div class="container-fluid" style="width: 90%">
    <div class="alert alert-success" role="alert">
        Click on your name to sign in.
    </div>
    <h2>Current Rushees</h2>
    <input type="text" class="form-control rounded" onkeyup="filter_list()" id="rush_signin_search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ></input><br>
    <table class="table table-hover" id="list_table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Year</td>
            <td>Major</td>
            <td>Hometown</td>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}

            <tr onclick="window.location='/rush/attendance{{ object.id }}/{{ event.id }}';">
                <td>{{ object.name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.major }}</td>
                <td>{{ object.hometown }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



</div>
{% endif %}
{% endif %}
{% endblock %}