{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<br>
<div class="container">
    <h1>{{ event.name }}&nbsp;&nbsp;&nbsp;<span class="badge badge-info">Round {{ event.round }}</span></h1>
    <!-- script for filtering names from search bar -->
    <script src="{% static 'rush/js/filter_list.js' %}"></script>

    <div class="container-fluid">
        <div class="alert alert-success" role="alert">
            Click on your name to sign in.  First event?  Click <a href="/rush/signin{{ event.id }}?register=true"> here</a>.
        </div>
        <h2>Current Rushees</h2>
        <input type="text" class="form-control rounded" onkeyup="filter_list()" id="rush_signin_search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ></input><br>
        <table class="table table-hover" id="list_table">
            <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Year</td>
                <td>Major</td>
                <td>Hometown</td>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}

                <tr onclick="window.location='/rush/attendance{{ object.id }}/{{ event.id }}';">
                    <td>{{ object.name }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.year }}</td>
                    <td>{{ object.major }}</td>
                    <td>{{ object.hometown }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}