# ignore coverage app and related directories
.coverage
htmlcov
coverage.xml

# ignore VSCode files
.vscode

# ignore Pycharm files
.idea

# ignore MacOSX files
.DS_Store

# ignore Django binaries
__pycache__/

# ignore virtual env
env/

# ignore migrations, static, and media directories
# (static is recollected in start-up.sh)
db.sqlite3
*/migrations
media
/static
db.sqlite3
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
