container_commands:
  01_makeMigrationsCore:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations core"
    leader_only: true
  02_makeMigrationsRush:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations rush"
    leader_only: true
  03_makeMigrationsCal:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations cal"
    leader_only: true
  04_makeMigrationsOrganizations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations organizations"
    leader_only: true
  05_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate_schemas --noinput"
    leader_only: true
  06_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"


option_settings:
  - namespace:  aws:elasticbeanstalk:application
    option_name:  Application Healthcheck URL
    value:  /health
  aws:elasticbeanstalk:container:python:
    WSGIPath: greeklink_core/wsgi.py

packages:
    yum:
        git: []
        postgresql93-devel: []

