option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: greeklink_core.wsgi:application

packages:
    yum:
        git: []

commands:
    01_postgres_activate:
        command: sudo dnf install -y postgresql15.x86_64
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_makeMigrationsCore:
        command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations core"
        leader_only: true
    04_makeMigrationsRush:
        command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations rush"
        leader_only: true
    05_makeMigrationsCal:
        command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations cal"
        leader_only: true
    06_makeMigrationsOrganizations:
        command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations organizations"
        leader_only: true
    07_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate_schemas --noinput"
        leader_only: true
    08_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
        