{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<div class="mt-5 col-md-20">
</div>
<div class="jumbotron">
  <h1 class="display-4">{{ announcement.title }}</h1>
  <p class="lead">{{ announcement.body }}</p>
  <hr class="my-4">
    {% if announcement.target %}
      <p>{{user}} included a link. Click <a href="{{ announcement.target }}" aria-pressed="true" target="_blank">here</a> to view. 
      </p>
    {% endif %}
  <p class="lead">
    <a class="btn btn-primary btn" href="/" role="button">Back</a>
  </p>
</div>

{% endblock %}