{% extends 'core/base.html' %}
{% block content %}
<br>
<div class="container">
    <h2>Current Rushees ({{ rushees|length }})</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            {% if not request.user_agent.is_mobile %}
            <td>Email</td>
            <td>Year</td>
            <td>Major</td>
            <td>Hometown</td>
            {% endif %}
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for rushee in rushees %}

            <tr onclick="window.location='/rushee{{ rushee.id }}';">
                <td>{{ rushee.id }}</td>
                <td>{{ rushee.name }}</td>
                {% if not request.user_agent.is_mobile %}
                <td>{{ rushee.email }}</td>
                <td>{{ rushee.year }}</td>
                <td>{{ rushee.major }}</td>
                <td>{{ rushee.hometown }}</td>
                {% endif %}
                {% if user in rushee.endorsements.all %}
                <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                {% endif %}
                {% if user in rushee.oppositions.all %}
                <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}