{% extends 'core/base.html' %}
{% block content %}
    <br><br><br>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-{% if not request.user_agent.is_mobile %}6{% else %}10{% endif %} mx-auto">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">Login</h5>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Submit</button> 
                                <a href="/signup"><button class='btn btn-secondary'>I don't have an account</button></a>
                            </form>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}