<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: {{ settings.primary_color_theme }}!important">
  <a class="navbar-brand" href="/">{{ settings.site_title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="{{ home_page }} nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="{{ social_page }} nav-item">
        <a class="nav-link" href="/social">Social</a>
      </li>
      <li class="{{ resources_page }} nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0" id="searchform" action="/search" method="get" accept-charset="utf-8">
        <input class="form-control mr-md-2" style='width: 300px' name="query" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_superuser %}
      <li class="{{ settings_page }} nav-item">
        <a class="nav-link" href="/admin">Site Settings</a>
      </li>
      {% endif %}
      {% if not user or user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      {% endif %}
      <li class="nav-item">
        {% if user and not user.is_anonymous %}
        <a class="nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        {% else %}
        <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
