{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<br>
<div class="container">
    <h1>Resources</h1><br>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div>
        <h2>Files</h2>
        <ul class="list-group">
            {% for file in files %}
            <li class="list-group-item">
                {% if file.extension == "txt" %}<i class="fa fa-file-text" aria-hidden="true" style="color: {{ settings.primary_color_theme }}"></i>
                {% elif file.extension == "doc" or file.extension == "docx" %}<i class="fa fa-file-word-o" aria-hidden="true" style="color: {{ settings.primary_color_theme }}"></i>
                {% elif file.extension == "pdf" %}<i class="fa fa-file-pdf-o" aria-hidden="true" style="color: {{ settings.primary_color_theme }}"></i>
                {% else %}<i class="fa fa-file" aria-hidden="true" style="color: {{ settings.primary_color_theme }}"></i>
                {% endif %}
                <a href="{{ file.file.url }}" target="_blank">{{ file.name }}</a> - {{ file.description }}
                {% if perms.core.delete_resourcefile %}
                <span style="float:right"><a href="removeFile{{ file.id }}">(remove)</a></span>
                {% endif %}
            </li>
            {% endfor %}
            {% if perms.core.add_resourcefile %}
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileModal">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload File
                </button>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="fileModalLabel">Upload File</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="uploadfile" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-3">{{ form.name.label }}</div>
                                    <div class="col-9">{{ form.name }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">{{ form.file.label }}</div>
                                    <div class="col-9">{{ form.file }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">{{ form.description.label }}</div>
                                    <div class="col-9">{{ form.description }}</div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </ul>
    </div><br>
    <div>
        <h2>Links</h2>
        <ul class="list-group">
            {% for link in links %}
            <li class="list-group-item">
                <i class="fa fa-link" aria-hidden="true" style="color: {{ settings.primary_color_theme }}"></i>
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a> - {{ link.description }}
                {% if perms.core.delete_resourcelink %}
                <span style="float:right"><a href="removeLink{{ link.id }}">(remove)</a></span>
                {% endif %}
            </li>
            {% endfor %}
            {% if perms.core.add_resourcelink %}
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#linkModal">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add Link
                </button>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="linkModalLabel">Add Link</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="addLink" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-3">{{ linkForm.name.label }}</div>
                                    <div class="col-9">{{ linkForm.name }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">{{ linkForm.url.label }}</div>
                                    <div class="col-9">{{ linkForm.url }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">{{ linkForm.description.label }}</div>
                                    <div class="col-9">{{ linkForm.description }}</div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
