{% extends 'core/base.html' %}
{% block content %}
<br>
<div class="container" style="margin-left: 5%">
    <h1>Site Settings</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
      </li>
      <li>
          <a class="nav-link" id="rushees-tab" data-toggle="tab" href="#rushees" role="tab" aria-controls="rushees" aria-selected="false">Rushees</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab" style="margin-left: 15px">
          <br>
          <form id='site_title_form' method="POST" action="change_site_title">
              {% csrf_token %}
              <div class="form-group row">
                <input type="text" class="form-control col-sm-4" maxlength="100" name="title" id="title" placeholder="{{ settings.site_title }}">&nbsp;&nbsp;
                <button type="submit" class="btn btn-success">Change Title</button>
              </div>
          </form>
          <br>
          <form id="site_verification_key" method="POST" action="change_verification_key">
              {% csrf_token %}
              <div class="form-group row">
                <input type="password" class="form-control col-sm-4" maxlength="50" name="key" id="key" placeholder="{{ settings.verification_key }}">&nbsp;&nbsp;
                <button type="submit" class="btn btn-success">Change Verification Key</button>
              </div>
          </form>
          <br>
          <form id="site_organization_title" method="POST" action="change_organization_name">
              {% csrf_token %}
              <div class="form-group row">
                <input type="text" class="form-control col-sm-4" maxlength="50" name="organization_name" placeholder="{{ settings.organization_name }}">&nbsp;&nbsp;
                <button type="submit" class="btn btn-success">Change Organization Name</button>
              </div>
          </form>
          <div style="margin-left: -15px">
            {% if settings.rush_signin_active %}
                <a href="disable_rush_signin"><button class="btn btn-danger">Disable Rush Signin</button></a> &nbsp;<i>Rush signin is currently <b>enabled.</b></i>
            {% else %}
                <a href="enable_rush_signin"><button class="btn btn-success">Enable Rush Signin</button></a> &nbsp;<i>Rush signin is currently <b>disabled.</b></i>
            {% endif %}
          </div>
      </div>
      <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
          <br>
          <form id='events_form' method='POST' action="change_num_rounds">
              {% csrf_token %}
              <label for="events_rounds">Number of voting rounds</label>
              <input type="number" class="form-control" name="events_rounds" id="events_rounds" min="1" value={{ settings.num_rounds }} style="width: 100px"><br>
              <button type="submit" class="btn btn-success">Update Rounds</button>
          </form>
          <br>
          <h2>Events</h2>
          <div class="list-group">
            {% for event in events %}
            <a data-toggle="collapse" href="#{{ event.id }}_attendance" class="list-group-item">{{ event.name }} -- {{ event.date }}, {{ event.time }} <span class="badge badge-info">{{ event.attendance.count }}</span></a>
              <div id="{{ event.id }}_attendance" class="panel-collapse collapse"><br>
                  <a href="removeEvent{{ event.id }}"><button class="btn btn-danger">Remove Event</button></a>
                  &nbsp;&nbsp;
                  <button class="btn btn-primary" data-toggle="modal" data-target="#detailsModal{{ event.id }}">Edit Event</button>
                  <!-- Modal -->
                    <div class="modal fade" id="detailsModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="detailsModal{{ event.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="detailsModalLabel">{{ event.name }}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="update_event{{ event.id }}">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" name="name" value="{{ event.name }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="date" class="col-sm-2 col-form-label">Date</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" id="date" name="date" value="{{ event.date|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="event_round" class="col-sm-2 col-form-label">Round</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="event_round" name="round">
                                                    {% for num in round_range %}
                                                    <option {% if event.round == num %}selected="selected"{% endif %}>{{ num }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="time" class="col-sm-2 col-form-label">Time</label>
                                            <div class="col-sm-10">
                                                <input type="time" class="form-control" id="time" name="time" value="{{ event.time|date:'H:i' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="location" class="col-sm-2 col-form-label">Location</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="location" name="location" value="{{ event.location }}">
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="new_rushees" name="new_rushees" value="new_rushees" {% if event.new_rushees_allowed %}checked="checked"{% endif %}>
                                            <label for="new_rushees" class="form-check-label">New Rushees Allowed?</label>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  <br><br>
                  <ul>
                      {% for rushee in event.attendance.all %}
                      <li class="list-group-item">{{ rushee.name }}  (<a href="removeAttendance{{ event.id }}/{{ rushee.id }}">remove</a>)</li>
                      {% endfor %}
                  </ul>
              </div>
            {% endfor %}
              <br>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Add Event</button>
            <!-- Modal -->
            <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="eventModalLabel">Create Event</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="createEvent">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="new_name" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="new_name" name="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="new_date" class="col-sm-2 col-form-label">Date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="new_date" name="date">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="new_event_round" class="col-sm-2 col-form-label">Round</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="new_event_round" name="round">
                                            {% for num in round_range %}
                                            <option>{{ num }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="new_time" class="col-sm-2 col-form-label">Time</label>
                                    <div class="col-sm-10">
                                        <input type="time" class="form-control" id="new_time" name="time">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="new_location" class="col-sm-2 col-form-label">Location</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="new_location" name="location">
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="new_new_rushees" name="new_rushees" value="new_rushees">
                                    <label for="new_new_rushees" class="form-check-label">New Rushees Allowed?</label>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Event</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
          <table class="table table-hover">
              <thead>
              <tr>
                <td>ID</td>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Active</td>
                <td>Staff</td>
                <td>Superuser</td>
              </tr>
              </thead>
              <tbody>
              {% for user in users %}
              <tr data-toggle="modal" data-target="#userModal{{ user.id }}">
                  <td>{{ user.id }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{% if user.is_active %}Yes{% else %}No{% endif %}</td>
                  <td>{% if user.is_staff %}Yes{% endif %}</td>
                  <td>{% if user.is_superuser %}Yes{% endif %}</td>
              </tr>
              <div class="modal fade" id="userModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="userModal{{ user.id }}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="userModalLabel">{{ user.username }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="user_update_form" action="update_user{{ user.id }}" method="POST">
                                {% csrf_token %}
                                <input type="checkbox" id="active" value="active" name="user_status" {% if user.is_active %}checked="true"{% endif %}> Active<br><br>
                                <input type="checkbox" id="staff" value="staff" name="user_status" {% if user.is_staff %}checked="true"{% endif %}> Staff<br><br>
                                <input type="checkbox" id="superuser" value="superuser" name="user_status" {% if user.is_superuser %}checked="true"{% endif %}> Superuser
                                <hr>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-4 col-form-label">Username</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="first_name" class="col-sm-4 col-form-label">First Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="last_name" class="col-sm-4 col-form-label">Last Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <a href="delete_user{{ user.id }}"><button type="button" class="btn btn-danger">Delete User</button></a>
                            <button class="btn btn-success" type="submit">Save Changes</button>
                        </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
              </tbody>
          </table>



      </div>
      <div class="tab-pane fade" id="rushees" role="tabpanel" aria-labelledby="rushees-tab">
          <br>
        <div class="rushee-group">
            {% for rushee in rushees %}
            <a data-toggle="collapse" href="#{{ rushee.id }}_info" class="list-group-item">{{ rushee.name }}</a>
              <div id="{{ rushee.id }}_info" class="panel-collapse collapse"><br>
                  <a href="delete_rushee{{ rushee.id }}"><button class="btn btn-danger">Delete Rushee</button></a>
                  &nbsp;&nbsp;
                  <button class="btn btn-primary" data-toggle="modal" data-target="#attendanceModal{{ rushee.id }}">Edit</button>
                  <!-- Modal -->
                    <div class="modal fade" id="attendanceModal{{ rushee.id }}" tabindex="-1" role="dialog" aria-labelledby="attendanceModal{{ rushee.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="attendanceModalLabel">{{ rushee.name }}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="update_rushee{{ rushee.id }}">
                                        {% csrf_token %}
                                        {% for event in events %}
                                        <input type="checkbox" value="{{ event.id }}" name="event_choices" {% if rushee in event.attendance.all %}checked="true" {% endif %}> {{ event.name }}<br>
                                        {% endfor %}
                                        <br>
                                        <input type="checkbox" name="cut" {% if rushee.cut != 0 %}checked="true"{% endif %}> Has been cut<br><br>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <select class="form-control" id="round" name="round">
                                                    {% for num in round_range %}
                                                    <option {% if rushee.round == num %}selected="selected"{% endif %}>{{ num }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <label for="round" class="col-sm-6 col-form-label">Round number</label>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <label for="rushee_name" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rushee_name" name="rushee_name" value="{{ rushee.name }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rushee_email" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="rushee_email" name="rushee_email" value="{{ rushee.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rushee_year" class="col-sm-2 col-form-label">Year</label>
                                            <div class="col-sm-10">
                                                <select id="rushee_year" class="form-control" name="rushee_year">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rushee_major" class="col-sm-2 col-form-label">Major</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rushee_major" name="rushee_major" value="{{ rushee.major }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rushee_hometown" class="col-sm-2 col-form-label">Hometown</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rushee_hometown" name="rushee_hometown" value="{{ rushee.hometown }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rushee_phone_number" class="col-sm-2 col-form-label">Phone</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="rushee_phone_number" name="rushee_phone_number" value="{{ rushee.phone_number }}">
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  <br><br>
                  <ul>
                      {% for rushee in event.attendance.all %}
                      <li class="list-group-item">{{ rushee.name }}  (<a href="removeAttendance{{ event.id }}/{{ rushee.id }}">remove</a>)</li>
                      {% endfor %}
                  </ul>
              </div>
            {% endfor %}
              <br>
          </div>
      </div>
    </div>
</div>
{% endblock %}
