{% extends 'core/base.html' %}
{% block content %}
<br>
<div class="container">
    <h1>Social</h1>
    <div class="container">
        <h2>Events</h2>
        <div class="list-group">
            {% for event in page_obj %}
            <a href="social_event{{ event.id }}" class="list-group-item">{{ event.name }} -- {{ event.date }}, {{ event.time }} <span class="badge badge-info">{{ event.list.count }}</span></a>
            {% endfor %}
        </div>
        <br>
        {% if user.is_superuser %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Add Event</button>
        <!-- Modal -->
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="eventModalLabel">Create Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="createSocialEvent">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="new_name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new_name" name="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="new_date" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="new_date" name="date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="new_time" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="time" class="form-control" id="new_time" name="time">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="new_location" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new_location" name="location">
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    <br>
</div>
{% if eventscount > 10 %}
<div class="container">
    <div class='row title-row my-1'>
        <div class='col-12 py-1'>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}

        <li class ="page-item"><a class ="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                                </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                        {% endif %}
                        {% endfor %}

        {% if page_obj.has_next %}

        <li class ="page-item"><a class ="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>

        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
</div>
</div>

{% endif %}
{% endblock %}