{% extends 'core/base.html' %}
{% block content %}
<br>
<div class="container">
    <h2>Social Events</h2>
    <div class="list-group">
        {% for event in events %}
        <a href="social_event{{ event.id }}" class="list-group-item">{{ event.name }} -- {{ event.date }}, {{ event.time }} <span class="badge badge-info">{{ event.list.count }}</span></a>
        {% endfor %}
    </div>
    <br>
    {% if user.is_superuser %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal">Add Event</button>
    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalLabel">Create Event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="createSocialEvent">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="new_name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_name" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="new_date" name="date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_time" class="col-sm-2 col-form-label">Time</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="new_time" name="time">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_location" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_location" name="location">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% endif %}
</div>
{% endblock %}