{% extends 'core/base.html' %}
{% block content %}
<br>
<div class="container">
    <h1>Social</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">{{ message }}</div>
            {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">{{ mesage }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <ul class="nav nav-tabs" id="social_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rosters-tab" data-toggle="tab" href="#rosters" role="tab" aria-controls="rosters" aria-selected="true">Rosters</a>
            </li>
        </ul>
        <div class="tab-content" id="social_tab_content">
            <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
                <br>
                <h2>Events</h2>
                <ul class="list-group">
                    <script>
                        function toggle_limit_edit(id){
                            var check_elem = document.getElementById('edit_checkbox_' + id);
                            var limit_elem = document.getElementById('edit_limit_' + id);
            
                            if(check_elem.checked) {
                                limit_elem.removeAttribute('disabled');
                            } else {
                                limit_elem.value = "";
                                limit_elem.setAttribute('disabled', 'true');
                            }
                        }
            
                    </script>
                    {% if not page_obj %}
                    <b><i>No events to display.  Social Events are tools to manage attendance at public events and can be created by administrators and will appear here.</i></b>
                    {% endif %}
                    {% for event in page_obj %}
                    <li class="list-group-item"><a href="social_event{{ event.id }}">{{ event.name }} -- {{ event.date }}, {{ event.time }} <span class="badge badge-info">{{ event.list.count }}</span> </a>
                        {% if perms.core.change_socialevent %}    
                        <a href="removeSocialEvent{{ event.id }}" class="btn btn-danger btn-sm float-right">Remove</a>
                        <button type="button" class="btn btn-secondary btn-sm float-right mr-1" data-toggle="modal" data-target="#editeventModal{{ event.id }}">Edit</button>
                        <!-- Edit Event Modal -->
                        <div class="modal fade" id="editeventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="editeventModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="editeventModalLabel">Edit Event</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="editSocialEvent{{ event.id }}">
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <label for="new_name" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="edit_name_{{ event.id }}" name="name" value="{{ event.name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="new_date" class="col-sm-2 col-form-label">Date</label>
                                                <div class="col-sm-10">
                                                    <input type="date" class="form-control" id="edit_date_{{ event.id }}" placeholder="YYYY-mm-dd" name="date" value="{{ event.date|date:'Y-m-d' }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="new_time" class="col-sm-2 col-form-label">Time</label>
                                                <div class="col-sm-10">
                                                    <input type="time" class="form-control" id="edit_time_{{ event.id }}" name="time" placeholder="HH:mm:ss in 24-hour time" value="{{ event.time|date:'G:i' }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="new_location" class="col-sm-2 col-form-label">Location</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="edit_location_{{ event.id }}" name="location" value="{{ event.location }}">
                                                </div>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" id="public_checkbox_{{ event.id }}" name="public" {% if event.is_public %} checked {% endif %}>
                                                <label class="form-check-label" for="public">Make event public?</label>
                                                <small>Making an event public will allow other organizations in your community to see the event on their calendar.</small>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" id="edit_checkbox_{{ event.id }}" name="checkbox" onclick="toggle_limit_edit({{ event.id }})" {% if event.list_limit != -1 %} checked {% endif %}>
                                                <label class="form-check-label" for="checkbox">Limit list additions?</label>                            
                                            </div>
                                            <div class="form-group row">
                                                <label for="new_limit" class="col-sm-2 col-form-label">List Limit</label>
                                                <div class="col-sm-10">
                                                    <input type="number" class="form-control" id="edit_limit_{{ event.id }}" name="limit" {% if event.list_limit == -1 %}disabled="true"{% endif %} {% if event.list_limit != -1 %} value={{ event.list_limit }} {% else %} value="" {% endif %}>
                                                    <small>Setting this variable will limit the number of people users can add to the list for this event.</small>
                                                </div>   
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    
                    </li>
                    {% endfor %}
                </ul>
                <br>
                {% if perms.core.add_socialevent %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eventModal"><i class="fa fa-plus" aria-hidden="true"></i> Add Event</button>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="rosters" role="tabpanel" aria-labelledby="rosters-tab">
                <br>
                <h2>Rosters</h2>
                <ul class="list-group">
                    {% if not rosters %}
                        <b><i>No rosters to display.  Rosters are lists containing names that can be created by administrators to be easily added to social event lists, and will appear here.</i></b>
                    {% endif %}
                    {% for roster in rosters %}
                        <li class="list-group-item"><a href="roster{{ roster.id }}">{{ roster.title }}</a>
                            {% if perms.core.delete_roster %}
                            <button class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#remove_roster_modal{{ roster.id }}">Delete Roster</button>
                            
                        </li>
                        <!-- remove roster modal -->
                        <div class="modal fade" id="remove_roster_modal{{ roster.id }}" tabindex="-1" role="dialog" aria-labelledby="remove_roster_modal_label{{ roster.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="remove_roster_modal_label{{ roster.id }}">Warning! Delete {{ roster.title }}?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Deleting a roster cannot be reversed, and any names contained in it will have to be entered again.  Are you sure you wish to continue?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="remove_roster{{ roster.id }}"><button type="submit" class="btn btn-danger">Delete Roster</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul><br>
                {% if perms.core.add_roster %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#roster_modal"><i class="fa fa-plus" aria-hidden="true"></i> Add Roster</button>
                <!-- add roster modal -->
                <div class="modal fade" id="roster_modal" tabindex="-1" role="dialog" aria-labelledby="roster_modal_label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="roster_modal_label">Add Roster</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Rosters are lists of names that can be saved and added to events later.  Create a name for your roster and add names below to begin.  This roster can be edited later.</p>
                                <form method="post" action="create_roster">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Roster Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="Roster Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="members" class="col-sm-3 col-form-label">Members</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="members" rows="10" placeholder="Separate names by a new line"></textarea>
                                        </div>
                                    </div>
                                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            
            </div>
        </div>
        <br>
        <script>
            function toggle_limit(){
                var check_elem = document.getElementById('new_checkbox');
                var limit_elem = document.getElementById('id_list_limit');

                if(check_elem.checked) {
                    limit_elem.removeAttribute('disabled');
                } else {
                    limit_elem.setAttribute('disabled', 'true');
                }
            }

        </script>
        {% if perms.core.add_socialevent %}
        <!-- add event modal -->
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="eventModalLabel">Create Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="createSocialEvent">
                        <div class="table">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    {{ social_event_form.name.label }}
                                </div>
                                <div class="col-sm-10">
                                    {{ social_event_form.name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    {{ social_event_form.date.label }}
                                </div>
                                <div class="col-sm-10">
                                    {{ social_event_form.date }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    {{ social_event_form.time.label }}
                                </div>
                                <div class="col-sm-10">
                                    {{ social_event_form.time }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    {{ social_event_form.location.label }}
                                </div>
                                <div class="col-sm-10">
                                    {{ social_event_form.location }}
                                </div>
                            </div>
                            <div class="form-group form-check">
                                {{ social_event_form.public }}
                                {{ social_event_form.public.label }}<br>
                                <small>Making an event public will allow other organizations in your community to see the event on their calendar.</small>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="new_checkbox" name="checkbox" onclick="toggle_limit()">
                                <label class="form-check-label" for="new_checkbox">Limit list additions?</label>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label">
                                    {{ social_event_form.list_limit.label }}
                                </div>
                                <div class="col-sm-10">
                                    {{ social_event_form.list_limit }}
                                    <small>Setting this variable will limit the number of people users can add to the list for this event.</small>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
</div>
{% if eventscount > 10 %}
<div class="container">
    <div class='row title-row my-1'>
        <div class='col-12 py-1'>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}

        <li class ="page-item"><a class ="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                                </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                        {% endif %}
                        {% endfor %}

        {% if page_obj.has_next %}

        <li class ="page-item"><a class ="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>

        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</nav>
</div>
</div>
</div>

{% endif %}
{% endblock %}