{% extends 'core/base.html' %}
{% block content %}
{% if not request.user_agent.is_mobile %}
<nav aria-label="Event navigation" style="margin-left: 5%">
    <h3 display="inline-block">Round Number</h3>
  <ul class="pagination">
    <li class="page-item {% if round == 1 %}disabled{% endif %}"><a class="page-link" href="voting{{ prev }}">Previous</a></li>
      {% for i in range %}
      <li class="page-item {% if round == i %}active{% endif %}"><a class="page-link" href="voting{{ i }}">{{ i }}</a></li>
      {% endfor %}
    <li class="page-item {% if round == num_rounds %}disabled{% endif %}"><a class="page-link" href="voting{{ next }}">Next</a></li>
  </ul>
</nav>

<!-- grid layout for three columns of rushees -->
<div class="container-fluid">
    <div class="row">
        <!-- first column:  current rushees -->
        <div class="col-lg-4">
            <h2>Current Rushees ({{ current_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in current_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-primary">
                        <td name="curr_name">{{ rushee.name }}</td>
                        <td name="curr_year">{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- second column: rushees going to the next round -->
        <div class="col-lg-4">
            <h2>Rushees Moving On ({{ next_round_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in next_round_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-success">
                        <td name="moving_on_name">{{ rushee.name }}</td>
                        <td name="moving_on_year">{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- third column: rushees not going to the next round -->
        <div class="col-lg-4">
            <h2>Rushees Getting Cut ({{ cut_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in cut_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-danger">
                        <td name="cut_name">{{ rushee.name }}</td>
                        <td name="cut_year">{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- mobile -->
{% else %}

<style>
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
</style>

<br>
<nav aria-label="Event navigation" style="margin-left: 5%">
  <ul class="pagination">
    <li class="page-item {% if round == 1 %}disabled{% endif %}"><a class="page-link" href="voting{{ prev }}">Previous</a></li>
    <li class="page-item {% if round == 1 %}active{% endif %}"><a class="page-link" href="voting1">1</a></li>
    <li class="page-item {% if round == 2 %}active{% endif %}"><a class="page-link" href="voting2">2</a></li>
    <li class="page-item {% if round == 3 %}active{% endif %}"><a class="page-link" href="voting3">3</a></li>
    <li class="page-item {% if round == 3 %}disabled{% endif %}"><a class="page-link" href="voting{{ next }}">Next</a></li>
  </ul>
</nav>

<div id="rusheeCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#rusheeCarouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#rusheeCarouselIndicators" data-slide-to="1"></li>
    <li data-target="#rusheeCarouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-lg-4">
            <h2>Current Rushees ({{ current_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in current_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-primary">
                        <td>{{ rushee.name }}</td>
                        <td>{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="carousel-item">
      <div class="col-lg-4">
            <h2>Rushees Moving On ({{ next_round_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in next_round_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-success">
                        <td>{{ rushee.name }}</td>
                        <td>{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="carousel-item">
      <div class="col-lg-4">
            <h2>Rushees Getting Cut ({{ cut_rushees|length }})</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Year</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for rushee in cut_rushees %}

                    <tr onclick="window.location='/rushee{{ rushee.id }}';" class="table-danger">
                        <td>{{ rushee.name }}</td>
                        <td>{{ rushee.year }}</td>
                        {% if user in rushee.endorsements.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_up.png" height="30px" width="30px"></td>
                        {% endif %}
                        {% if user in rushee.oppositions.all %}
                        <td><img src="{{ MEDIA_URL }}icons/thumbs_down.png" height="30px" width="30px"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#rusheeCarouselIndicators" role="button" data-slide="prev" onclick="$('#rusheeCarousel').carousel('prev')">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#rusheeCarouselIndicators" role="button" data-slide="next" onclick="$('#rusheeCarousel').carousel('next')">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endif %}

{% endblock %}
