{% extends 'core/base.html' %}
{% block extrahead %}
<!-- bokeh styles and scripts -->
<link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.1.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.1.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.1.min.js"></script>
 <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.1.min.js"></script>
{{ script | safe }}
{% endblock %}
{% block content %}
{% load static %}
<br>
<script>

    function detailsFunction(){
        elem = document.getElementById('transaction_details_select');
        val = elem.value;
        url = '/finance/transaction_details';
        url += val;
        window.location.href=url;
    }

</script>
<div class="container">
    <h1>Finance</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">{{ message }}</div>
            {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="card transaction-card">
                <div class="card-body">
                    <h4 class="card-title">Request Payment</h4>
                    <p class="card-text">Request payment from individuals or groups.</p>
                    <form action="/finance/create_transaction" method="post">
                        {% csrf_token %}
                        {{ transaction_form }}
                        <br>    
                        <div style="padding-left: 20px; padding-bottom: 20px">                      
                            <input type="checkbox" name="create_line_item" class="form-check-input">
                            Create budget line item?<br>
                        </div>
                        <button type="submit" class="btn btn-primary">Request payment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="card transaction-card">
                    <div class="card-body">
                        <h4 class="card-title">Transaction Details</h4>
                        <p class="card-text">Track who has paid, who is required to pay, and how much money is outstanding in a requested payment.</p>
                            {{ transaction_detail_form }}
                            <br>
                            <button onclick="detailsFunction()" class="btn btn-primary">View more details</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="card transaction-card">
                    <div class="card-body">
                        <h4 class="card-title">Budget</h4>
                        <p class="card-text">Manage a budget showing income vs. costs.</p>
                        
                        <a href="/finance/budget" class="btn btn-primary">View Budget</a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 15px; padding-right: 15px">
                <div class="card transaction-card">
                    <div class="card-body">
                        <h4 class="card-title">Activity last 7 days</h4>
                        <div class="container" style='width: 100%'>
                            {{ graph_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <script src="{% static 'finance/js/fetch_user_in_transaction.js' %}"></script>
            <div class="card transaction-card">
                <div class="card-body">
                    <h4 class="card-title">Record payment</h4>
                    <p class="card-text">Submit a payment for a transaction</p>
                    <form action="submit_payment_with_transaction" method="post">
                    {% csrf_token %}
                    {% for field in record_payment_with_transaction_form %}
                        <label id="{{ field.auto_id }}_label" for="{{ field.auto_id }}" {% if field.auto_id != "id_transaction" %}style="display:none"{% endif %}>{{ field.label }}</label>
                        {{ field }}
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary">Record payment</a>
                </div>
            </div>
            <div class="card transaction-card">
                <div class="card-body">
                    <h4 class="card-title">Forecast</h4>
                    <p class="card-text">Payments that have upcoming due dates</p>
                    {% if upcoming_budget_line_items %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Due Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Amount</th>
                        </thead>
                        <tbody>
                            {% for elem in upcoming_budget_line_items %}
                            <tr>
                                <td>{{ elem.due_date }}</td>
                                <td>{{ elem.description }}</td>
                                <td>{{ elem.amount|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p><i><b>No upcoming payments</b></i></p>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</div>
<br>
<br>

{% endblock %}